@import url("https://fonts.googleapis.com/css?family=Exo");
html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Exo";
}

body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/264/902/original/vector-scifi-space-background-for-ui-game.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  height: 100%;
  margin: 0;
}


nav {
  position: absolute;
  font-size: 1.5em;
  margin: 30px 0;
  display: inline-block;
  list-style-type: none;
  
}
nav ul {
  margin: 0 auto;
}
nav ul li {
  text-align: center;
  display: inline-block;
  background: rgba(220, 220, 220, 0.974);
  padding: 5px 50px;
  transform: skew(30deg, 0deg);
  color: #222;
}
nav ul li.main:after {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50%;
  text-align: center;
  color: #222;
}

nav ul li:hover {
  background: #f2f2f2;
  color: #222;
  text-shadow: 0px 0px 0.1px #222;
  
}


#upper {
  color: black;
  font-family: "Exo";
  padding: 15px 50px;
  margin: 15px 0;
  text-align: center;
  font-size: 40px;
}

div.container-fluid{
    text-align:justify;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: Black;
    font-size: 27px;
}






.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: black;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  




